 * {margin: 0;
    padding: 0;}
    ul {list-style: none;
         margin-left: 0;}
    a {text-decoration: none;
       color:black;}     

    
       /*   Codigo de la Pagina*/


    header, nav, main,footer  {width: 80%;
                margin: 0 auto;}


    header { 
             min-height: 8rem;
             background-color: darksalmon;
            }

    nav     {
            min-height: 4rem;
            background-color: orange;
            }

            nav ul {background-color: rgb(233, 211, 10);
        min-height: 6rem;}

        nav ul li{ background-color: blueviolet;
        min-height: 3.2rem;
        border: 0.2rem solid black;
        margin: 0.3rem;
        width: 7rem;}

        nav ul li a {color: aliceblue;}
            

    main {min-height: 20rem;
            background-color: lightblue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
          }
          main img{ width: 32%;
                    margin-top: 0.3rem;}

    main div {border: 0.3rem solid black;
              width: 30%;}
              .izda{background-color: blue;}
              .dcha{background-color: chartreuse;}




    footer {min-height: 7rem;
            background-color: darkorange;}

            /* media queries*/

            @media screen and (max-width: 650px) {
  body {
    background-color: lightgreen;
  }
          main { flex-direction: row;
                 align-items: center;}

          main div {width: 40%;}

}
 @media screen and (max-width: 350px) {
        body{background-color: red;}
        main div {flex-direction: column;
        width: 95%;}

 }