* {margin: 0;
    padding: 0;}

    
       /*   Codigo de la Pagina*/


    header, nav, main,footer  {width: 80%;
                margin: 0 auto;}


    header { 
             min-height: 8rem;
             background-color: darksalmon;
            }

    nav     {
            min-height: 4rem;
            background-color: orange;
            }

    main {min-height: 20rem;
            background-color: lightblue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

    main div {border: 0.3rem solid black;
              width: 30%;}
              .izda{background-color: blue;}
              .dcha{background-color: chartreuse;}




    footer {min-height: 7rem;
            background-color: darkorange;}

            /* media queries*/

    @media screen and (max-width: 600px) {
  body {
    background-color: rgba(63, 196, 63, 0.863);
  }
 main {flex-direction: column;
align-items:center ;}
 main div {width: 95%;}
}